[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
nbformat = "*"
pandas = "*"
matplotlib = "*"
japanize-matplotlib = "*"
scipy = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
